/* 
******************** BODY ********************
*/

body {
  width: 100%;
  height: 100%;
  min-width: 100dvh;
  min-height: 100dvh;
  display: grid;
  grid-template: 50px 8fr 100px / 300px 1fr;
}

/* 
******************** MARQUEES ********************
*/

.marquee {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background: #2f2d76;
  color: #ffcc44;
  user-select: none;
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  font-size: 1.5rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin: auto 0;
}

.scroll {
  animation: marquee-scroll 20s linear infinite;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100%));
  }
}

header {
  grid-area: 1/1/2/3;
}
footer {
  grid-area: 3/1/-1/-1;
}

/* 
******************** LEFT SIDE ********************
*/

aside {
  grid-area: 2/1/2/2;
  background: #1e2124;
  width: 100%;
  max-width: 300px;
  border-right: 1px solid white;
}

aside nav {
  background: #282b30;
  width: 100%;
  /* height: 80%; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

nav ul {
  background: #282b30;
  width: 100%;
}

nav li {
  list-style: none;
  height: 4rem;
  display: flex;
  font-size: 1.5rem;
}

nav li.selected,
nav li.selected a {
  background: #36393e;
  font-weight: 400;
}

nav li:hover,
nav li:hover a {
  background: #424549;
}

nav a {
  font-family: "Noto Sans", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  color: #f1f2f3;
  text-decoration: none;
  padding-left: 2rem;
  padding: 15.5px 0 15.5px 2rem;
  width: 100%;
  place-self: center;
}

nav ion-icon {
  height: 100%;
  aspect-ratio: 1/1;
  color: #f1f2f3;
  padding: 0 1rem;
  background: #1e2124;
  min-width: 24px;
  max-width: 24px;
}

.playlists ion-icon {
  background: transparent;
}

aside .player {
  width: 100%;
  height: 20%;
  padding: 1rem;
}

/* 
******************** RIGHT SIDE ********************
*/

main {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
}

main .wrapper {
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 
******************** RIGHT SIDE - TOP ********************
*/

main .intro {
  display: grid;
  color: #f1f2f3;
  font-family: "Comfortaa", cursive;
  font-weight: 700;
}

.intro .textcontent {
  place-self: center;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.textcontent h1 {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.textcontent h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 25%;
  height: 0.125rem;
  transform: translateX(-50%);
  background: #ffcc44;
}

.textcontent h2 {
  font-size: clamp(1rem, 1.5dvw, 2rem);
  line-height: 2.75rem;
  margin: 0 0 1rem 1rem;
  text-align: center;
}

.textcontent h2:first-of-type {
  text-transform: capitalize;
}

/* 
******************** RIGHT SIDE - BOTTOM ********************
*/

main .whyus {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.whyus h3 {
  font-family: "Comfortaa", cursive;
  font-size: clamp(1rem, 1.5dvw, 2rem);
  color: #f1f2f3;
  border-bottom: 2px solid #ffcc44;
  padding-bottom: 0.5rem;
}

.whyus .cards {
  display: flex;
  padding: 1rem;
  border-radius: 2rem;
}

.card {
  background: linear-gradient(45deg, #232259, #3b3894);
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
}

.card .img {
  aspect-ratio: 1/1;
  width: fit-content;
  margin: 0.5rem auto;
}

.card .img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.card p {
  color: #f1f2f3;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  font-size: 1.15rem;
}

/* 
******************** FLOATING IMG ********************
*/

main .tree {
  grid-area: 1/2/-1/-1;
  display: grid;
  user-select: none;
}

.tree img {
  width: 70%;
  aspect-ratio: 1/1;
  place-self: center;
  animation: floating 6s ease alternate infinite;
}

@keyframes floating {
  0% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(2rem);
  }
}

/* 
******************** SONG CONTROL ********************
*/

footer {
  border-top: 1px solid white;
  display: grid;
  grid-template: 1fr / 25% 1fr 25%;
}

/* 
******************** SONG CONTROL - SONG ********************
*/

footer .song-info {
  grid-area: 1/1/2/2;
  padding: 1rem 0 1rem 1rem;
  display: flex;
  justify-content: flex-start;
}

.song-info .song-cover {
  display: inline-block;
  aspect-ratio: 1/1;
  height: 100%;
  margin: 0 1rem 0 0;
  padding: 0.25rem;
  border-radius: 0.125rem;
}

.song-cover img {
  width: max-content;
}

.song-info .song-desc {
  display: inline-block;
}

.song-desc p {
  color: #f1f2f3;
  font-family: "Noto Sans", sans-serif;
}

.song-desc p:first-of-type {
  font-size: 2rem;
  line-height: 2rem;
}

.song-desc p:last-of-type {
  font-size: 0.8rem;
  line-height: 1.5rem;
  margin-left: 2px;
}

/* 
******************** SONG CONTROL - BTNS ********************
*/

footer .song-control {
  grid-area: 1/2/2/3;
  display: grid;
}

.controls {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 30%;
  place-self: flex-end center;
}

.control-btn {
  display: inline-block;
  cursor: pointer;
}

.control-btn img {
  height: 1.75rem;
  aspect-ratio: 1/1;
}

#play-pause img {
  height: 3rem;
  aspect-ratio: 1/1;
}

.song-timestamp {
  display: grid;
  padding-top: 0.125rem;
}

.timestamp {
  place-self: center;
  width: 100%;
  position: relative;
  margin-bottom: auto;
  height: 20px;
  display: flex;
  justify-content: center;
}

.timestamp label {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  transform: translate(-25%, -25%);
  color: #f1f2f3;
}

.timestamp p {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  transform: translate(25%, -25%);
  color: #f1f2f3;
}

#timestamp {
  -webkit-appearance: none;
  overflow: hidden;
  height: 50%;
  width: 100%;
  max-width: 600px;
  background: #f1f2f311;
  border-radius: 1rem;
}

#timestamp::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0px;
  width: 0px;
  background: none;
  box-shadow: -1000px 0 0 1000px #3b3894;
}

#timestamp:hover::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  background: #f1f2f3;
  border-radius: 0.5rem;
}

#timestamp::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
}

#timestamp::-moz-range-track {
  width: 100%;
  cursor: pointer;
}

#timestamp::-moz-range-thumb {
  height: 0px;
  width: 0px;
  background: none;
  border-radius: 0;
  outline: none;
  border: none;
  box-shadow: -1000px 0 0 1000px #3b3894;
}

#timestamp:hover::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background: #f1f2f3;
  border-radius: 0.5rem;
  box-shadow: -1000px 0 0 1000px #3b3894;
}

#timestamp::-ms-track {
  width: 100%;
  cursor: pointer;
}

#timestamp::-ms-thumb {
  height: 0px;
  width: 0px;
  background: #f1f2f3;
  box-shadow: -1000px 0 0 1000px #3b3894;
}

#timestamp:hover::-ms-thumb {
  height: 10px;
  width: 10px;
  background: #f1f2f3;
  box-shadow: -1000px 0 0 1000px #3b3894;
}
/* 
******************** SONG CONTROL - VOLUME ********************
*/

.song-volume {
  grid-area: 1/3/2/4;
  display: grid;
}

.volume {
  width: 100%;
  place-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#volumeImg {
  cursor: pointer;
}

#volume {
  -webkit-appearance: none;
  overflow: hidden;
  height: 10px;
  width: 100%;
  max-width: 225px;
  background: #f1f2f311;
  border-radius: 1rem;
}
#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0px;
  width: 0px;
  background: none;
  box-shadow: -1000px 0 0 1000px #3b3894;
}
#volume:hover::-webkit-slider-thumb {
  background: #f1f2f3;
  height: 10px;
  width: 10px;
  border-radius: 0.5rem;
}
#volume::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
}
#volume::-moz-range-track {
  width: 100%;
  cursor: pointer;
}
#volume::-moz-range-thumb {
  height: 0px;
  width: 0px;
  background: none;
  border-radius: 0;
  outline: none;
  border: none;
  box-shadow: -1000px 0 0 1000px #3b3894;
}
#volume:hover::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background: #f1f2f3;
  border-radius: 0.5rem;
  box-shadow: -1000px 0 0 1000px #3b3894;
}
#volume::-ms-track {
  width: 100%;
  cursor: pointer;
}
#volume::-ms-thumb {
  height: 0px;
  width: 0px;
  background: #f1f2f3;
  box-shadow: -1000px 0 0 1000px #3b3894;
}
#volume:hover::-ms-thumb {
  height: 10px;
  width: 10px;
  background: #f1f2f3;
  box-shadow: -1000px 0 0 1000px #3b3894;
}
