@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap");

:root {
  --col-20: #202020;
  --col-2f: #2f2f2f;
  --col-3f: #3f3f3f;
  --col-8a: #8a8a8a;
  --col-ef: #efefef;
  --col-ff: #ffc566;
  --radius-l: 7px;
  --radius-s: 4px;
  --song-space: 0.8rem;
  --song-cover-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  outline: none;
  border: none;
}

html {
  max-width: 1920px;
  max-height: 1080px;
  background-color: var(--col-8a);
}

body {
  width: 100dvw;
  height: 100dvh;

  display: flex;
  justify-content: left;

  background-color: var(--col-2f);
}

aside,
main {
  height: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1.2rem;
  width: 16rem;

  background-color: var(--col-20);
}

button,
button > img {
  cursor: pointer;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  overflow: hidden;
  height: 5px;
  width: 100%;
  background: var(--col-8a);
  border-radius: var(--radius-l);
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0;
  width: 0;
  background: none;
  box-shadow: -200px 0 0 200px var(--col-ff);
}
input[type="range"]:hover::-webkit-slider-thumb {
  height: 7px;
  width: 16px;
  border-radius: var(--radius-l);
  background: var(--col-ef);
  box-shadow: 7px 0 0 5px var(--col-8a), -200px 0 0 200px var(--col-ff);
}
input[type="range"]::-moz-range-thumb {
  height: 0;
  width: 0;
  background: none;
  border: none;
  box-shadow: -200px 0 0 200px var(--col-ff);
}
input[type="range"]:hover::-moz-range-thumb {
  height: 7px;
  width: 16px;
  border-radius: var(--radius-l);
  background: var(--col-ef);
  box-shadow: 7px 0 0 5px var(--col-8a), -200px 0 0 200px var(--col-ff);
}
input[type="range"]::-ms-thumb {
  height: 0;
  width: 0;
  background: none;
  box-shadow: -200px 0 0 200px var(--col-ff);
}
input[type="range"]:hover::-ms-thumb {
  height: 7px;
  width: 16px;
  border-radius: var(--radius-l);
  background: var(--col-ef);
  box-shadow: 7px 0 0 5px var(--col-8a), -200px 0 0 200px var(--col-ff);
}

/* A S I D E    U P P E R    B U T T O N S*/
.menu {
  display: flex;
  flex-direction: column;
  max-height: 170px;
}

.menu button {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;

  padding: 0.6rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  border-radius: var(--radius-l);

  color: var(--col-ef);
  background-color: var(--col-2f);
}

.menu button > img {
  width: 1.25rem;
  aspect-ratio: 1/1;
}

.menu button:nth-child(2) {
  position: relative;
  margin: clamp(1rem, 3dvh, 2rem) 0;
}
.menu button:nth-child(2)::before {
  content: "";

  position: absolute;
  top: calc((clamp(1rem, 3dvh, 2rem) / -2) - 1px);
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  height: 1px;

  background-color: var(--col-ef);
}
.menu button:nth-child(2)::after {
  content: "";

  position: absolute;
  bottom: calc((clamp(1rem, 3dvh, 2rem) / -2) - 1px);
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  height: 1px;

  background-color: var(--col-ef);
}

/* S O N G    I N F O */
.controls {
  display: flex;
  flex-direction: column;
  gap: var(--song-space);

  padding: var(--song-space);
  border-radius: var(--radius-l);

  background-color: var(--col-2f);
}

.controls > div:not(:first-child) {
  padding: 0.5;
  background: var(--col-3f);
  border-radius: var(--radius-s);
}

.controls div:not(:first-child) img {
  max-width: 1.25rem;
}

.song-info {
  display: flex;
  gap: 0.5rem;
  max-height: 6rem;
}

.cover-img {
  width: 4rem;
  aspect-ratio: 1/1;
}

.cover-img img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-s);
}

.song-info > div:last-of-type {
  position: relative;
  flex-grow: 1;
}

.cover-text .song {
  position: relative;
  width: 100%;
  height: 19px;
  overflow: hidden;
}

.song h2 {
  position: absolute;
  top: 0;
  left: 0;

  width: fit-content;
  white-space: nowrap;

  font-size: 0.8rem;
  font-weight: 500;

  color: var(--col-ef);
}

.titleLonger {
  animation: marquee 7s 2s linear infinite alternate;
  box-shadow: inset 22px 0 2px -22px rgba(0, 0, 0, 0.45), inset -22px 0 2px -22px rgba(0, 0, 0, 0.45);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(var(--marquee));
  }
  100% {
    transform: translateX(var(--marquee));
  }
}

.cover-text > h3 {
  color: var(--col-8a);
  font-size: 0.6rem;
  font-weight: 500;
}

.song-info > div > div > img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1.5rem;
  aspect-ratio: 1/1;
}

.song-info > div > div > img[alt="empty"] {
  filter: brightness(0.75);
}
.song-info > div > div > img[alt="empty"]:hover {
  filter: brightness(1);
}

/* B A S I C    C O N T R O L S */
.basic-controls {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  background: var(--col-3f);
  padding: 0.8rem 0.6rem 0.4rem;
}

.basic-controls .btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btns > button {
  background: none;
  display: grid;
  place-items: center;
}
.timestamp > div {
  display: flex;
  justify-content: space-between;
  color: var(--col-8a);
  font-size: 0.675rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.volume {
  padding: 0.7rem 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
}

.volume > button {
  cursor: pointer;
  background: none;
  border: none;
}

.volume > button > img {
  display: block;
}

.extra-controls {
  padding: 0.7rem 0.8rem;
  display: flex;
  justify-content: space-between;
}

.extra-controls > button {
  background: none;
  border: none;
  display: grid;
  place-items: center;
}

.extra-controls > button > img {
  max-width: 1.5rem;
}

/* MAIN PAGE CONTENT */

main {
  flex-grow: 1;
  padding: 1.2rem;
  overflow-x: hidden;
}

.search {
  position: relative;
  width: 450px;
  height: 3rem;
  border-radius: 9rem;
}

.search > label {
  position: absolute;
  top: -1.5px;
  left: 0;
  transform: translate(60%, 50%);
  z-index: 2;
  width: 24px;
  aspect-ratio: 1/1;
}

.search > label > img {
  width: 100%;
  height: 100%;
}

.search > input[type="text"] {
  width: 100%;
  height: 100%;

  border-radius: 9rem;
  padding-left: 3rem;

  background: var(--col-3f);
  color: var(--col-ef);
}

.page-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 2rem 1rem;
  color: var(--col-ef);
}

.song-card {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
}

.artist {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: var(--song-space);
  padding: var(--song-space);

  border-radius: var(--radius-l) var(--radius-l) 0 0;
  background-color: var(--col-20);
}

.artist > h3 {
  font-size: 0.875rem;
}

.artist > img {
  border-radius: 50%;
}

.songs {
  display: grid;
  grid-template-rows: repeat(auto-fill, var(--song-cover-size));

  flex-grow: 1;
  gap: 0.5rem 0;
  padding: 1rem;

  background: var(--col-3f);
  border-radius: 0 0 var(--radius-l) var(--radius-l);
}

.song {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  gap: 1rem;
  font-size: 0.75rem;
}

.song span {
  flex-grow: 1;
}

.song button {
  display: block;
  width: var(--song-cover-size);
  height: var(--song-cover-size);
  background: none;
  flex-shrink: 0;
}

.song button:first-of-type {
  transition: opacity 0.15s ease;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--col-ff);
  border-radius: 50%;
  opacity: 0;
}

.song:hover > button:first-of-type,
.song:focus > button:first-of-type {
  opacity: 1;
  transition: opacity 0.25s ease;
}

.song > img {
  border-radius: 4px;
  box-shadow: 2px 2px 3px -1px var(--col-2f), -2px -2px 3px -1px var(--col-2f);
}

.song > button > img {
  display: block;
  width: 70%;
  height: 70%;
  transform: translateX(calc(27%));
}
